{% extends '../base.html' %}
<!---->
{% block title %}Detalle de Solicitudes{% endblock %}
<!---->
{% load static %}
<!---->
{% block content %}

<div class="row justify-content-md-center">
  <a
    title="volver"
    style="float: left; font-size: 25px"
    href="{% url 'listar_compras' %}">
    <span><i class="bi bi-arrow-left-circle"></i></span>
  </a>
  <div class="col-md-5 mb-2">
    <div class="card shadow">
      {% load static %} {% if compra.foto_producto %}
      <!---->
      {% if compra.es_extension_valida %}
      <img
        class="foto_producto"
        src="{{ compra.foto_producto.url }}"
        alt="Foto de {{ compra.descripcion }}"
        width="150" />
      {% else %}
      <img
        class="foto_producto"
        src="{% static 'imgs/compra_defaul.jpg'%}"
        alt="Sin foto"
        width="150" />
      {% endif %} {% endif %}

      <div class="card-body">
        <p class="card-title">
          <strong>Descripcion:</strong> {{ compra.descripcion }}
        </p>
        <p class="card-text buttom mb-3">
          <strong> Numero Codigo o Numero Cotizacion  </strong>
          {{ compra.codigo_cotizacion }}
        </p>
        <p class="card-text buttom mb-3">
          <strong>Precio</strong> {{ compra.precio }} 
        </p>
        <p class="card-text buttom mb-3">
          <strong>Cantidad</strong> {{ compra.cantidad }}
        </p>
        <p class="card-text buttom mb-3">
          <strong>Empresa</strong> {{ compra.empresa }}
        </p>
        <p class="card-text buttom mb-3">
          <strong>Destino</strong> {{ compra.destino }}
        </p>
                <p class="card-text buttom mb-3">
          <strong>Tiempo de Entrega</strong> {{ compra.tiempo_entrega }}
        </p>
                        <p class="card-text buttom mb-3">
          <strong>Observaciones</strong> {{ compra.observaciones }}
        </p>
                <p class="card-text buttom mb-3">
                  <strong> Fecha de Solicitud</strong> {{ compra.created_at|date:"M d, Y" }}
                </p>
        <p class="card-text"></p>

        <hr />

        <a class="mt-5" href="{% url 'listar_compras' %}">
          <i class="bi bi-arrow-left-circle"> Volver</i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
