{% extends 'base.html' %}
<!---->
{% block title %}Registrar Compras Solicitadas{% endblock %}
<!---->
{%block content %} {% load static %}

<div class="row justify-content-center">
  <div class="col-md-12 mb-2">
    <h2 class="text-center text-uppercase">
      <a
        style="color: #14ad47; float: left; padding: 0px 10px 0px 0px"
        href="{% url 'registrar_compras' %}">
        <span><i class="bi bi-arrow-left-circle"></i></span>
      </a>
      Lista de Compras
<a style="color: #14ad47; float: right; padding: 0px 10px 0px 0px"
   href="{% url 'informe_compra' %}"
   title="Descargar Solicitudes"
   download="informe_compra.pdf">
   <i class="bi bi-file-pdf"></i> PDF
</a>
      <hr />
    </h2>
  </div>
</div>

{% if compras %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <!-- Encabezados de la tabla -->
        <thead>
            <tr>
                <th>Descripcion</th>
                <th># Codigo/Cotizacion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Empresa</th>
                <th>Destino</th>
                <th>Tiempo de Entrega</th>
                <th>Observaciones</th>
                <th class="text-center">Foto</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <!-- Cuerpo de la tabla -->
        <tbody>
            {% for compra in compras %}
            <tr id="compra_{{ compra.id }}">
                <!-- Celdas de datos -->
                <td>{{ compra.descripcion }}</td>
                <td>{{ compra.codigo_cotizacion }}</td>
                <td>{{ compra.precio }}</td>
                <td>{{ compra.cantidad }}</td>
                <td>{{ compra.empresa }}</td>
                <td>{{ compra.destino }}</td>
                <td>{{ compra.tiempo_entrega }}</td>
                <td>{{ compra.observaciones }}</td>
                <td class="text-center">
                    {% if compra.foto_producto %}
                    <img src="{{ compra.foto_producto.url }}" alt="Foto de {{ compra.descripcion }}" width="50">
                    {% else %}
                    <img src="{% static 'imgs/compra_default.jpg' %}" alt="Sin foto" width="50">
                    {% endif %}
                </td>
                <td>
                    <!-- Botones de acciones con clases de Bootstrap -->
                    <div class="btn-group" role="group" aria-label="Acciones">
                        <a href="{% url 'detalles_compras' compra.id %}" class="btn btn-info btn-sm" title="Ver detalles">
                            <i class="bi bi-person-bounding-box"></i> Detalles
                        </a>
                        <a href="{% url 'view_form_update_compra' compra.id %}" class="btn btn-success btn-sm" title="Editar">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <button class="btn btn-warning btn-sm" title="Eliminar" onclick="borrarCompra('{{ compra.id }}')">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Controles de paginación -->
<div class="pagination">
    <span class="step-links">
        {% if compras.has_previous %}
        <a href="?page=1" class="btn btn-outline-secondary">&laquo; Primera</a>
        <a href="?page={{ compras.previous_page_number }}" class="btn btn-outline-secondary">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ compras.number }} de {{ compras.paginator.num_pages }}.
        </span>

        {% if compras.has_next %}
        <a href="?page={{ compras.next_page_number }}" class="btn btn-outline-secondary">Siguiente</a>
        <a href="?page={{ compras.paginator.num_pages }}" class="btn btn-outline-secondary">Última &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p class="text-center">No hay Compras registradas 😭.</p>
{% endif %} {% endblock %}
<!---->
{% block customJS %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  async function borrarCompra(idCompra) {
    var confirmation = confirm(
      "¿Estas seguro que deseas eliminar la Compra?"
    );

    if (confirmation) {
      try {
        let li = document.querySelector("#compra_" + idCompra);

        let csrfToken = "{{ csrf_token|escapejs }}";

        // Realiza la solicitud POST utilizando Axios
        const response = await axios({
          method: "post",
          url: "/eliminar-compra/",
          data: { idCompra },
          headers: {
            "X-CSRFToken": csrfToken,
          },
        });

        console.log(response.data);
        console.log(response.data.resultado);
        if (response.data.resultado === 1) {
          alerta("La Compra fue eliminada correctamente 😏", 1);
          li.remove();
        } else {
          console.log("Error al intentar borrar la compra");
        }
      } catch (error) {
        console.error("Error al realizar la solicitud:", error);
      }
    }
  }

  function alerta(msj, tipo_msj) {
    const divExistente = document.querySelector(".alert");
    if (divExistente) {
      divExistente.remove();
    }

    // Crear un nuevo div para la alerta
    const divRespuesta = document.createElement("div");
    divRespuesta.classList.add("col-md-11");

    divRespuesta.innerHTML = `
      <div class="alert ${
        tipo_msj == 1 ? "alert-success" : "alert-danger"
      }  alert-dismissible text-center" role="alert">
        ${msj}
      </div>
  `;

    setTimeout(function () {
      divRespuesta.innerHTML = "";
    }, 8000);

    const container = document.querySelector(".row");
    container.insertAdjacentElement("beforeend", divRespuesta);
  }
</script>
{% endblock %}
